Repository digital-asset/daml: changes, and which pre-commit hooks are due for each by the changed paths.
All: javafmt, pprettier

.pre-commit-config.yaml:

# Copyright (c) 2024 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: '^canton(-3x)?/'
repos:
- repo: local
  hooks:
    - id: hlint
      name: hlint
      language: system
      entry: "hlint -j"
      require_serial: true
      types: [haskell]
    - id: scalafmt
      name: scalafmt
      language: system
      require_serial: true
      entry: "scalafmt --respect-project-filters"
      types: [scala]
    - id: javafmt
      name: javafmt
      language: system
      require_serial: true
      entry: "javafmt --set-exit-if-changed --replace"
      types: [java]
    - id: buildifier
      name: buildifier
      language: system
      require_serial: true
      entry: "bazel run //:buildifier-pre-commit -- -mode=fix -v=true"
      types: [bazel]
    - id: pprettier
      name: pprettier
      language: system
      require_serial: true
      # NB: we need to pass a single argument which ends up in $0 when invoking bash -c
      entry: "bash -c 'yarn install --silent && yarn run pprettier --write \"$@\"' bash"
      types_or: [ts, tsx]
    - id: copyrights
      name: copyright headers
      description: Idempotently add DA copyright headers to source files.
      language: system
      pass_filenames: false
      entry: "dade-copyright-headers update"
      types: [text]
    - id: platform-independence-check
      name: platform-independence-check
      language: system
      pass_filenames: false
      entry: "pre-commit/platform-independence-check.sh"
    - id: mainonly
      name: main only
      description: Check for changes under packages with targets tagged with main-only
      language: system
      pass_filenames: true
      entry: "dade-check-main-only-files"
      types: [text]

Ignore utility packages in ts codegen
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Due: none

Fix tests that break on warn-bad-interface-instances
  sdk/compiler/damlc/tests/src/DA/Test/DataDependencies.hs
  sdk/compiler/damlc/tests/src/DamlcTest.hs
  sdk/daml-assistant/integration-tests/BUILD.bazel
  sdk/daml-assistant/integration-tests/src/DA/Daml/Assistant/IntegrationTests.hs
  sdk/docs/source/daml-script/template-root/daml.yaml.template
Due: none

rotate release duty after 2024-07-03
  sdk/release/rotation
Due: none

update canton to 20240702.12133.0.vceeef1dd/2.10.0-snapshot.20240702.12133.0.vceeef1dd in main-2.x
  sdk/canton/community/app/src/pack/examples/06-messaging/contact/daml.yaml
  sdk/canton/community/app/src/pack/examples/06-messaging/message/daml.yaml
  sdk/canton/community/common/src/main/daml/CantonExamples/daml.yaml
  sdk/canton/community/demo/src/main/daml/ai-analysis/daml.yaml
  sdk/canton/community/demo/src/main/daml/bank/daml.yaml
  sdk/canton/community/demo/src/main/daml/doctor/daml.yaml
  sdk/canton/community/demo/src/main/daml/health-insurance/daml.yaml
  sdk/canton/community/demo/src/main/daml/medical-records/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/ping-pong-vacuum/daml.yaml
  sdk/test-common/canton/BUILD.bazel
Due: none

update canton to 20240702.13586.v19985bc9
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/TopologyAdminCommands.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ByteStringStreamObserver.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/FileStreamObserver.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/HealthAdministration.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TopologyAdministration.scala
  sdk/canton/community/base/src/main/protobuf/com/digitalasset/canton/topology/admin/v30/topology_manager_read_service.proto
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/sequencing/client/SequencerClient.scala
  sdk/canton/community/common/src/main/daml/CantonExamples/daml.yaml
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/environment/CantonNodeBootstrap.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/topology/admin/grpc/GrpcTopologyManagerReadService.scala
  sdk/canton/community/common/src/main/scala/com/digitalasset/canton/util/GrpcUtils.scala
  sdk/canton/community/common/src/test/scala/com/digitalasset/canton/metrics/MetricsUtils.scala
  sdk/canton/community/demo/src/main/daml/ai-analysis/daml.yaml
  sdk/canton/community/demo/src/main/daml/bank/daml.yaml
  sdk/canton/community/demo/src/main/daml/doctor/daml.yaml
  sdk/canton/community/demo/src/main/daml/health-insurance/daml.yaml
  sdk/canton/community/demo/src/main/daml/medical-records/daml.yaml
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/block/update/TrafficControlValidator.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/metrics/BftOrderingMetrics.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/metrics/DomainMetrics.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/sequencing/sequencer/traffic/SequencerTrafficConfig.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/sequencing/traffic/EnterpriseSequencerRateLimitManager.scala
  sdk/canton/community/domain/src/test/scala/com/digitalasset/canton/domain/sequencing/traffic/EnterpriseSequencerRateLimitManagerTest.scala
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/carbonv1/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/carbonv2/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/experimental/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/model/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/package_management/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/semantic/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/1.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/2.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-common-dars/src/main/daml/upgrade/3.0.0/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/v2_1/daml.yaml
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/v2_dev/daml.yaml
  sdk/canton/community/participant/src/main/daml/daml.yaml
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcParticipantRepairService.scala
  sdk/canton/ref
Due: none

update compat versions (2024-07-03 main-2.x)
  sdk/compatibility/maven_install.json
  sdk/compatibility/versions.bzl
Due: none

Add pruning offset tests to LAPITT
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/Features.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/SingleParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/TimeoutParticipantTestContext.scala
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ParticipantPruningIT.scala
Due: none

Add pruning offset tests to LAPITT (#19470)
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/Features.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/SingleParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/TimeoutParticipantTestContext.scala
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ParticipantPruningIT.scala
Due: none

Ignore utility packages in ts codegen (#19490)
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
Due: none

Minimal ts upgrades support (#19482)
  sdk/compatibility/bazel_tools/create-daml-app/index.test.ts
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  sdk/language-support/ts/daml-types/index.ts
  sdk/templates/create-daml-app-test-resources/index.test.ts
Due: pprettier

fix test
  sdk/release/test-protobuf-structure.sh
Due: none

Backport conformance tests for bugfix #19707 * Implementation adapted from https://github.com/DACH-NY/canton/pull/19777
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/CompanionImplicits.scala
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceQueryIT.scala
  sdk/test-common/src/main/daml/model/Test.daml
  sdk/test-common/src/main/daml/semantic/DivulgenceTests.daml
Due: none

Backport upgrade support for TS (#19482 and #19490) (#19498)
  sdk/compatibility/bazel_tools/create-daml-app/index.test.ts
  sdk/language-support/ts/codegen/src/TsCodeGenMain.hs
  sdk/language-support/ts/codegen/tests/ts/build-and-lint-test/src/__tests__/test.ts
  sdk/language-support/ts/daml-types/index.ts
  sdk/templates/create-daml-app-test-resources/index.test.ts
Due: pprettier

Support missing missing optional fields
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
Due: none

test and format
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
  sdk/language-support/java/codegen/src/test/daml/Baz.daml
  sdk/language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/JsonDecoderSpec.scala
Due: none

.
  sdk/language-support/java/codegen/BUILD.bazel
Due: none

.
  sdk/language-support/java/codegen/src/test/daml/Baz.daml
Due: none

.
  sdk/language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/JsonDecoderSpec.scala
Due: none

update canton to 20240702.12121.v5da13c69
  sdk/canton/community/app/src/pack/examples/06-messaging/contact/daml.yaml
  sdk/canton/community/app/src/pack/examples/06-messaging/message/daml.yaml
  sdk/canton/community/common/src/main/daml/CantonExamples/daml.yaml
  sdk/canton/community/demo/src/main/daml/ai-analysis/daml.yaml
  sdk/canton/community/demo/src/main/daml/bank/daml.yaml
  sdk/canton/community/demo/src/main/daml/doctor/daml.yaml
  sdk/canton/community/demo/src/main/daml/health-insurance/daml.yaml
  sdk/canton/community/demo/src/main/daml/medical-records/daml.yaml
  sdk/canton/community/ledger-api/VERSION
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v1/experimental_features.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v1/transaction_service.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/update_service.proto
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/messages/transaction/GetTransactionTreesRequest.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/messages/transaction/GetTransactionsRequest.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/validation/TransactionServiceRequestValidator.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/participant/state/index/v2/IndexTransactionsService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServiceOwner.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/TimedIndexService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiConversions.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiUpdateService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiVersionService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiVersionServiceV2.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/transaction/TransactionServiceImpl.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/index/IndexServiceImpl.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/index/IndexServiceOwner.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/cache/PruningOffsetCache.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/IndexComponentTest.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/index/IndexServiceImplSpec.scala
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/ping-pong-vacuum/daml.yaml
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiServer.scala
  sdk/canton/ref
Due: none

Another fix
  sdk/canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/PackageVersion.java
Due: javafmt

make it compile
  sdk/language-support/hs/bindings/src/DA/Ledger.hs
  sdk/language-support/hs/bindings/src/DA/Ledger/Services/TransactionService.hs
  sdk/language-support/hs/bindings/src/DA/Ledger/Types.hs
Due: none

Adapt conformance test to 2.x Ledger API
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceQueryIT.scala
Due: none

update canton to 20240702.12121.v5da13c69 (#19500)
  sdk/canton/community/app/src/pack/examples/06-messaging/contact/daml.yaml
  sdk/canton/community/app/src/pack/examples/06-messaging/message/daml.yaml
  sdk/canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/PackageVersion.java
  sdk/canton/community/common/src/main/daml/CantonExamples/daml.yaml
  sdk/canton/community/demo/src/main/daml/ai-analysis/daml.yaml
  sdk/canton/community/demo/src/main/daml/bank/daml.yaml
  sdk/canton/community/demo/src/main/daml/doctor/daml.yaml
  sdk/canton/community/demo/src/main/daml/health-insurance/daml.yaml
  sdk/canton/community/demo/src/main/daml/medical-records/daml.yaml
  sdk/canton/community/ledger-api/VERSION
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v1/experimental_features.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v1/transaction_service.proto
  sdk/canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/update_service.proto
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/messages/transaction/GetTransactionTreesRequest.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/messages/transaction/GetTransactionsRequest.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/validation/TransactionServiceRequestValidator.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/participant/state/index/v2/IndexTransactionsService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServiceOwner.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/TimedIndexService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiConversions.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiUpdateService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiVersionService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/ApiVersionServiceV2.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/admin/ApiParticipantPruningService.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/services/transaction/TransactionServiceImpl.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/index/IndexServiceImpl.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/index/IndexServiceOwner.scala
  sdk/canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/store/cache/PruningOffsetCache.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/IndexComponentTest.scala
  sdk/canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/index/IndexServiceImplSpec.scala
  sdk/canton/community/ledger/ledger-json-api/src/test/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/daml.yaml
  sdk/canton/community/participant/src/main/daml/ping-pong-vacuum/daml.yaml
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiServer.scala
  sdk/canton/ref
  sdk/language-support/hs/bindings/src/DA/Ledger.hs
  sdk/language-support/hs/bindings/src/DA/Ledger/Services/TransactionService.hs
  sdk/language-support/hs/bindings/src/DA/Ledger/Types.hs
Due: javafmt

Added conformance test exclusions
  sdk/compatibility/bazel_tools/testing.bzl
Due: none

update canton to 20240703.12135.0.v7d82e992/2.10.0-snapshot.20240703.12135.0.v7d82e992 in main-2.x
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/messages/LocalVerdict.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/validation/ConfirmationResponseFactory.scala
  sdk/test-common/canton/BUILD.bazel
Due: none

update compat versions (2024-07-04 main-2.x)
  sdk/compatibility/maven_install.json
  sdk/compatibility/versions.bzl
Due: none

update canton to 20240703.13595.v030861a1
  sdk/canton/community/admin-api/src/main/protobuf/com/digitalasset/canton/admin/participant/v30/enterprise_participant_replication_service.proto
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantAdministration.scala
  sdk/canton/community/app-base/src/main/scala/com/digitalasset/canton/environment/Environment.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/crypto/HashPurpose.scala
  sdk/canton/community/base/src/main/scala/com/digitalasset/canton/protocol/LocalRejectError.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/sequencing/SequencerNode.scala
  sdk/canton/community/domain/src/main/scala/com/digitalasset/canton/domain/sequencing/sequencer/SequencerFactory.scala
  sdk/canton/community/domain/src/test/scala/com/digitalasset/canton/domain/sequencing/sequencer/SequencerApiTest.scala
  sdk/canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ParticipantNode.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/AdminWorkflowServices.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/PackageOps.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/PackageService.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/PackageVettingSynchronization.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcPackageService.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/ledger/api/StartableStoppableLedgerApiDependentServices.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/TransactionProcessingSteps.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/protocol/validation/TransactionConfirmationResponseFactory.scala
  sdk/canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/CantonSyncService.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/admin/PackageOpsForTesting.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/admin/PackageOpsTest.scala
  sdk/canton/community/participant/src/test/scala/com/digitalasset/canton/participant/admin/PackageServiceTest.scala
  sdk/canton/ref
Due: none

Support missing missing optional fields (#19499)
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
  sdk/language-support/java/codegen/src/test/daml/Baz.daml
  sdk/language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/JsonDecoderSpec.scala
Due: none

Backport of conformance tests pertaining to the TRANSACTION_NOT_FOUND bugfix (#19467)
  sdk/compatibility/bazel_tools/testing.bzl
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/CompanionImplicits.scala
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/TransactionServiceQueryIT.scala
  sdk/test-common/src/main/daml/model/Test.daml
  sdk/test-common/src/main/daml/semantic/DivulgenceTests.daml
Due: none

[TS] allows undefined to represent input of Optional
  sdk/language-support/ts/daml-types/index.ts
Due: pprettier

add unit test
  sdk/language-support/ts/daml-types/index.test.ts
Due: pprettier

backport #19499
  sdk/language-support/java/codegen/BUILD.bazel
  sdk/language-support/java/codegen/src/main/scala/com/digitalasset/daml/lf/codegen/backend/java/inner/FromJsonGenerator.scala
  sdk/language-support/java/codegen/src/test/daml/Baz.daml
  sdk/language-support/java/codegen/src/test/scala/com/digitalasset/daml/lf/codegen/backend/java/JsonDecoderSpec.scala
Due: none

Add pruning offset tests to LAPITT (#19470) (#19501)
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/Features.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/ParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/SingleParticipantTestContext.scala
  sdk/ledger-test-tool/infrastructure/src/main/scala/com/daml/ledger/api/testtool/infrastructure/participant/TimeoutParticipantTestContext.scala
  sdk/ledger-test-tool/suites/src/main/scala/com/daml/ledger/api/testtool/suites/v1_8/ParticipantPruningIT.scala
Due: none

Clarify resolution for KNOWN_DAR_VERSION
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/PackageServiceErrors.scala
Due: none

Improve resolutuion for KNWON_DAR_VERSION
  sdk/canton/community/ledger/ledger-common/src/main/scala/com/digitalasset/canton/ledger/error/PackageServiceErrors.scala
Due: none

cosmetic
  sdk/language-support/ts/daml-types/index.test.ts
  sdk/language-support/ts/daml-types/index.ts
Due: pprettier

[TS] allows undefined to represent input of Optional (#19505)
  sdk/language-support/ts/daml-types/index.test.ts
  sdk/language-support/ts/daml-types/index.ts
Due: pprettier
